body {
    width: 40em;
    font-family: "Times New Roman", Times, serif;
    background-color: #fffdfc;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Verdana;
    margin-bottom: 8px;
}

.nav img {
    width: 100px; /* you can use % */
    height: auto;
}

.hero img {
    border-radius: 1em;
}

.nav {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 8px;
}

.nav h3 {
    margin: 4px 0;
}

.nav ul {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    cursor: pointer;
}

.logo {
    display: flex;
    gap: 2px;
}

.logo img {
    width: 2em;
}

.hero {
    width: 100%;
    height: auto;
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 30%,
        black 100%
    );
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 30%,
        black 100%
    );
}

.footer {
    width: 100%;
    height: auto;
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 30%,
        black 100%
    );
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 30%,
        black 100%
    );
}

.moth {
    margin-top: 32px;
    font-size: 0.8em;
}

.mono {
    font-family: monospace;
}

.turbine {
    margin-top: 8px;
}

.section {
    margin: 16px 0 4px 0;
}
