.post-content {
  & > * {
    @apply max-w-[640px] mx-auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold leading-tight text-black;
    margin: 2.5rem auto 0.75rem;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  p {
    @apply mb-5 text-[1rem];
  }

  a {
    color: #0645ad;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  strong {
    @apply font-semibold text-black;
  }

  img {
    border: 1px solid #b8b8b8;
  }

  figure {
    @apply mb-8;

    img {
      @apply mb-2;
    }

    figcaption {
      @apply text-center text-xs italic text-gray-600;
    }
  }

  blockquote {
    @apply my-8 border-l-2 border-gray-400 pl-5;
  }

  pre {
    @apply mb-8 w-full overflow-auto break-words border border-gray-400 bg-[#f2f2ea] p-4 text-sm;

    & > code {
      @apply whitespace-pre-wrap;
    }
  }

  code {
    @apply border border-gray-300 bg-[#f2f2ea] px-1 py-px font-mono text-sm text-gray-700;
  }

  hr {
    @apply mb-8 border-gray-400;
  }

  ol,
  ul {
    @apply mb-5;

    li {
      @apply mb-1 ml-5 list-outside text-[1rem];
    }
  }

  ul li {
    @apply list-disc;
  }

  ol li {
    @apply list-decimal;
  }

  video {
    @apply my-8 border border-gray-400;
  }
}
